/// Enum: {{ enum.name }}
#[derive(Debug, Clone, Copy, PartialEq, Eq, Hash, Serialize, Deserialize)]
#[repr({{ enum.backing_type | rust_type }})]
pub enum {{ pascal_namespace }}{{ enum.name | pascal_case }} {
{% for value in enum.values %}
    {{ value.name | pascal_case }} = {{ value.value }},
{% endfor %}
}

impl {{ pascal_namespace }}{{ enum.name | pascal_case }} {
    /// Convert from {{ enum.backing_type | rust_type }} value
    pub fn from_{{ enum.backing_type | rust_type }}(value: {{ enum.backing_type | rust_type }}) -> Option<Self> {
        match value {
{% for value in enum.values %}
            {{ value.value }} => Some(Self::{{ value.name | pascal_case }}),
{% endfor %}
            _ => None,
        }
    }

    /// Convert to {{ enum.backing_type | rust_type }} value
    pub fn to_{{ enum.backing_type | rust_type }}(self) -> {{ enum.backing_type | rust_type }} {
        self as {{ enum.backing_type | rust_type }}
    }
} 